
.mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
 }

 .mat-raised-button .mat-button-focus-overlay {
    background-color: transparent;
  }

.mat-sidenav{
    padding-top: 20px;
    padding-left: 10px;
}

.mat-raised-button {
    min-width: 100px;
    margin: 4px;
}

.no-padding{
    padding: 0px;
}