@import "../assets/globals.scss";

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
  }
  
  .sideNave{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primary1;
  }
