<header>
  <am-toolbar></am-toolbar>
</header>

<mat-sidenav-container>
  <mat-sidenav [opened]="sideNaveOpen$ | async">
    <p>
      <button mat-raised-button color="accent" [routerLink]="['profile']">Profile</button>
    </p>
    <p>
      <button mat-raised-button color="accent" [routerLink]="['examples']">Examples</button>
    </p>
    <p>
      <button mat-raised-button color="accent" [routerLink]="['blog']">Blog</button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>

    <body>
      <section class="container">
        <router-outlet></router-outlet>

      </section>

    </body>

  </mat-sidenav-content>
</mat-sidenav-container>




<!-- Sdiebar using MAT?
<mat-sidenav-container [hasBackdrop]="true" class="main">
  <mat-sidenav class="sideNave" mode="side" opened hasBackdrop style="width: 140px">Account</mat-sidenav>
  <mat-sidenav-content>
    <am-create-account></am-create-account>
  </mat-sidenav-content>
</mat-sidenav-container>
-->